.search{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background-color: #fff;
    border-radius: 5px;
    &__inp{
        padding: 0 10px;
        width: 333px;
        height: 40px;
        border: 2px solid #6864ED;
        border-radius: 5px;
        color: #6864ED;
        font-weight: 600;
        &::placeholder { 
            color: #000;
          }
          margin-right: 10px;
    }
    &__text{
        font-size: 22px;
        font-weight: 600;
        color: #000;
    }
}